* {
  box-sizing: border-box;
}
body{
  color: white;
  background-color: black;
}
.countdown__event {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}


.date__parent{
  display: flex;
  justify-content: center;
}

.date__input {
  text-align: center;
  display: block;
  margin: 0 auto;
}
